
h1{color: rgb(255, 255, 255); font-size: 60px; font-family: tahoma; margin: 50px;}

p{color: rgb(255, 255, 255); font-size: 25px }

body{
    background-color: rgb(19, 17, 27);
    margin-left: 30px;
    font-family: sans-serif; font-size:1em ; margin-left: 17%; margin-top: 4%; margin-right: 15%;
    background-image: linear-gradient(to right, #999999 0%, #000000 100%);
}
img {
    margin-left: 35%;
}
 